body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    
    font-size: 4rem;
    text-align: center;
}

h2 {
    font-weight: lighter;
    font-size: 1rem;
}

h3 {
    font-weight: lighter;
    font-size: 0.6rem;
}

button {
    background-color: #faba43;
    border: none;
    border-radius: 2%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    margin: 2px 1px;
    opacity: 0.6;
    transition: 0.3s;
    height: 5vh;
  }
  
  button:hover {opacity: 1}

input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 5vh;
}

input[type=password], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 5vh;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: black;
    color: gold;
    height: 10vh;
    padding: 2%;
    margin: 5%;

}

main {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 20px;
    align-items: center;
    background-color:black;
    color: gold;
    height: 60vh;
    padding: 2%;
}

img {
    width: 50%;
}

footer {
    text-align: center;
    background-color: black;
    color: gold;
    height: 10vh;
    padding: 2%;

}